doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
    block links
  body
    block content
    
    script(type="text/javascript", src="/lib/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/lib/bootstrap/dist/bootstrap.min.js")
    block scripts
